/** nav in style.css global for the (3) files **/
/** this is index style **/

html, body {
    max-height: 100vh !important;
}

a {
    text-decoration: none;
    color: #202020;
    font-weight: 700;
    text-decoration: underline;
    display: flex;
    align-self: baseline;
    vertical-align: middle;
}

nav a svg {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: auto .2rem;
}

nav a:hover svg {
    transform: translateY(-4px);
    transition: all 250ms cubic-bezier(.215, .61, .355, 1);;
}

a:hover {
    text-decoration: none;
}

.fancy__link {
    color: #18272F;
    position: relative;
    text-decoration: none;
}

.fancy__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    animation: hide-on-load 2s forwards;
}

@keyframes hide-on-load {
    0% {
        content: '';
        position: absolute;
        width: 0%;
        height: 4px;
        transition: transform .3s ease-in-out;
        transform-origin: left;
        transform: scaleX(1);
    }
    50% {
        content: '';
        position: absolute;
        /* width: 50%; */
        height: 4px;
        transition: transform .3s ease-in-out;
        transform-origin: left;
        transform: scaleX(1);
    }
    100% {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        transition: transform .3s ease-in-out;
        transform-origin: left;
        transform: scaleX(1);
    }
}

.fade__out {
    animation: fade-out 3.5s;
}

@keyframes fade-out {
    from {
        opacity: 0;
        font-size: calc((100% - 20%));
    }
    to {
        opacity: 1;
        font-size: 100%;
    }
}

.title {
    text-align: center;
}

button {
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    appearance: button;
    -webkit-appearance: button;
}

.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    gap: 6px;
}

.social a {
    transition: all 300ms cubic-bezier(.215, .61, .355, 1);
    color: #202020 !important;
}

.social a:hover {
    opacity: .7;
}

.button__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto !important;
    gap: 24px;
}

.button__reset, .button__normalize {
    display: flex;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;

    cursor: pointer;
    border: 2px solid #202020;
    /* outline: 2px solid #202020; */
    background-color: #202020;
    color: #fff;
    -moz-outline-radius: inherit;
    height: 50px;
    width: 175px;
    padding: 1rem;
    font-size: 18px;
    border-radius: 8px;
    transition: all 300ms cubic-bezier(.215, .61, .355, 1);
}

/* a href="" */
.button__item {
    display: flex;
    color: #fff;
    text-decoration: none;
    font: 900;
}

/* hover buttons */
.button__reset:hover, .button__normalize:hover {
    color: #202020;
    background-color: whitesmoke;
}

.button__reset:hover a, .button__normalize:hover a {
    color: #202020;
}

.bottom__footer {
    bottom: 0;
    min-height: 5rem;
    background-color: hsl(0, 0%, 99%);
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    width: 100%;
    max-width: 1024px;
    border-radius: 22px;
    border: none;
}

.copy__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.copy__container .p {
    display: flex;
    flex-direction: row;
    letter-spacing: .4px;
}

/* mobile resize for all components */
@media only screen and (max-width: 767px) and (max-height: 912px) {
    .wrapper {
        height: calc((100vh - 200px));
    }
    a {
        border-bottom: none;
        text-decoration: underline;
        -ms-text-combine-horizontal: none;
    }
    li, a {
        max-width: fit-content;
        max-height: fit-content;
    }
    .nav__list {
        margin: auto .5rem;
        padding: 0 !important;
    }
}

@media screen and (max-height: 1024px) and (max-width: 767px) {
    .wrapper__instead {
        transform: none;
    }
    .hero__section {
        padding: 1em;
    }   
    a {
        font-size: 15px;
    }
    .button__reset, .button__normalize {
        height: 50px;
        width: fit-content;
        padding: 1rem;
        font-size: 16px;
        border-radius: 8px;
        transition: all 0ms;
    }
}

@media screen and (max-height: 668px) {
    .wrapper {
        height: calc((100vh - 73.7px));
    }
}


@media screen and (min-width: 767px) {
    header {
        margin-bottom: 3rem;
    }    
}
