/**normalize styling page**/
section.normalize {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto !important;
    z-index: 999;
}

section.normalize div, li {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}

.nav__list .item {
    width: 180px !important;
}

li, a {
    max-width: fit-content;
    max-height: fit-content;
    margin: 0 auto !important;
}

li.nav__list.item a {
    color: #202020 !important;
}

nav:not(.nav) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

nav .nav__list .item a {
    font-size: 18px !important;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1.5rem 1.5rem;
}

section#title {
    min-height: 52vh;
    margin-top: 4rem;
}

section#button {
    min-height: 28vh;
}

section#links {
    min-height: 26vh;
}

section#cards {
    min-height: 32vh;
}

section#lists {
    margin-top: 10rem;
    min-height: 40vh;
}

section#image {
    min-height: 35vh;
    margin-top: 8rem;
}

section#video {
    min-height: 30vh;
    margin: 8rem 0;
}

section#progress {
    min-height: 30vh;
    margin: 4rem 0;
}

section#input {
    min-height: 45vh;
    margin: 8rem 0;
}

section#menu {
    min-height: 30vh;
    margin: 6rem 0 9rem 0;
}

nav ul {
    list-style: decimal;
    letter-spacing: .4px;
    text-align: left;
}

.container {
    z-index: 9999;
    padding: 2em;
    min-height: 100vh;
    background-color: beige;
}

.container-aside p {
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 0 20px solid #999;
    outline: 2px solid #999;
    border-radius: 12px;
    padding: 2em;
}

main {
    width: 100%;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
        -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
}

#top {
    margin-top: .5rem;
}

#aside {
    float: left;
    margin-top: 2.25rem;
    max-width: fit-content;
}

#links div {
    padding-top: 1em;
}

section#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
